{% extends "header.html" %}
{% block title %}
H&M | Main
{% endblock %}
{% block content %}
<nav>
  <ul>
    <li class="font-bold">Probador Virtual</li>
    <ul>
      <li>Accesorios</li>
      <li>Ropa</li>
      <li>Zapatos</li>
    </ul>
    <li class="font-bold">Nuevos productos</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Ultimas Tendencias</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Aprovecha</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Compra por producto</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Compra por concepto</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Zapatos</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
    <li class="font-bold">Accesorios</li>
    <ul>
      <li>Ver todo</li>
      <li>Vestidos</li>
      <li>Pantalones</li>
      <li>Lenceria</li>
    </ul>
  </ul>
</nav>
{% endblock %}